In [1]:
import numpy as np

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
pd.read_csv("data.csv")

  Country   Age   Salary Purchased
0  Turkey  40.0  72000.0        No
1     USA  27.0  48000.0       Yes
2   Japan  30.0  54000.0        No
3     USA  38.0  61000.0        No
4  Turkey  40.0      NaN       Yes
5  Turkey  35.0  58000.0       Yes
6   Japan   NaN  52000.0        No
7     USA  48.0  79000.0       Yes
8  Turkey  50.0  83000.0        No
9   Japan  37.0  67000.0       Yes

In [6]:
data=pd.read_csv("data.csv")

In [8]:
X=data.iloc[:,:-1]

In [9]:
y=data.iloc[:,3:4]

In [10]:
X

  Country   Age   Salary
0  Turkey  40.0  72000.0
1     USA  27.0  48000.0
2   Japan  30.0  54000.0
3     USA  38.0  61000.0
4  Turkey  40.0      NaN
5  Turkey  35.0  58000.0
6   Japan   NaN  52000.0
7     USA  48.0  79000.0
8  Turkey  50.0  83000.0
9   Japan  37.0  67000.0

In [11]:
y

  Purchased
0        No
1       Yes
2        No
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [12]:
X=X.values

In [13]:
X

array([['Turkey', 40.0, 72000.0],
       ['USA', 27.0, 48000.0],
       ['Japan', 30.0, 54000.0],
       ['USA', 38.0, 61000.0],
       ['Turkey', 40.0, nan],
       ['Turkey', 35.0, 58000.0],
       ['Japan', nan, 52000.0],
       ['USA', 48.0, 79000.0],
       ['Turkey', 50.0, 83000.0],
       ['Japan', 37.0, 67000.0]], dtype=object)

In [14]:
y=y.values

In [15]:
y

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

## now we can work on missing values

In [16]:
from sklearn.impute import SimpleImputer

In [29]:
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

### we create a imputer value that helps to change the nan value to rows' mean

In [32]:
imputer.fit(X[:,1:3])

SimpleImputer()

In [33]:
X[:,1:3] = imputer.transform(X[:,1:3])
X

array([[4.00000000e+01, 7.20000000e+04],
       [2.70000000e+01, 4.80000000e+04],
       [3.00000000e+01, 5.40000000e+04],
       [3.80000000e+01, 6.10000000e+04],
       [4.00000000e+01, 6.37777778e+04],
       [3.50000000e+01, 5.80000000e+04],
       [3.83333333e+01, 5.20000000e+04],
       [4.80000000e+01, 7.90000000e+04],
       [5.00000000e+01, 8.30000000e+04],
       [3.70000000e+01, 6.70000000e+04]])

#### now we change the nan values with the rows mean